@charset "utf-8";


body {
  background: url("img/corazon-1.svg") repeat-y top left, url("img/corazon-2.svg") repeat-y top right;
  background-color: hsl(343, 20%, 47%);
  background-size: 150px;
  font-family:cursive;
  font-size: 1.25rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

div {
  border: black 2px solid;
  margin: 20px 180px;
  font-weight: bold;
}

div.foto1 {
  background: url("img/manchas.png");
  color: white;
}

div.foto2 {
  background: url("img/fuego.svg") no-repeat bottom right, url("img/fuego.svg") no-repeat bottom left, url("img/tallos.jpg");
  color: hsl(52, 76%, 46%);
}

div.foto3 {
  background:  url("img/ojo.svg") no-repeat center, url("img/hexagonos.jpg");
  background-size: contain, auto;
  color: hsl(0, 73%, 36%);
}

div.foto4 {
  padding-bottom: 50px;
  background: url("img/caballo.svg") repeat-x bottom, url("img/estrellas.png") repeat;
  background-size: 100px, auto;
  color: hsl(125, 81%, 25%);
}